.cell {
  position: absolute;
  transition: .3s;
}

.in-cell {
  width: 100%;
  height: 100%;
  border: solid 1px;
  text-align: center;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.anti-link {
  color: inherit;
  text-decoration: none;
}
